
@{
    var storeInfo = Session["StoreInfo"] == null ? new OneposStamps.Models.Store() : (OneposStamps.Models.Store)Session["StoreInfo"];
    ViewBag.Title = $"{storeInfo.Name}-DashBoard";
}
<h2>Welcome to the OnePos Retail Solution</h2>



