@model OneposStamps.Models.OrdersDetail
@{
    ViewBag.Title = "OrderDetails";
}

<body data-layout="horizontal" class="dark-topbar">

    <div class="page-wrapper">
        <!-- Page Content-->
        <div class="page-content">

            <div class="container-fluid">
                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box d-flex align-items-center">

                            <h4 class="page-title font-weight-bold">Order Shipment</h4>
                        </div><!--end page-title-box-->
                    </div><!--end col-->

                </div>
                <!-- end page title end breadcrumb -->

                <div class="row">
                    <div class="col-sm-12">

                        <div class="card">
                            <div class="card-body">

                                <div class="border-bottom mt-3 mb-3 py-2">
                                    <div class="d-flex align-items-center">
                                        <span class="font-12 mr-2">2 Items Selected</span>
                                        <div class="mr-2">
                                            <div class="input-group">
                                                <input type="text" onchange="onFilterClick()" id="txtDeliverDate" name="txtDeliverDate" class="form-control form-control-sm" placeholder="Select Date" >
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fa fa-calendar-alt"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="btn-group">
                                            <button type="button" class="btn btn-default btn-sm border dropdown-toggle mr-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-filter text-info"></i> Select Zone <i class="mdi mdi-chevron-down"></i></button>

                                            <div class="dropdown-menu" x-placement="bottom-start">
                                                <a class="dropdown-item" href="#">USPA</a>
                                                <a class="dropdown-item" href="#">FedEx</a>
                                                <a class="dropdown-item" href="#">USA</a>
                                                <a class="dropdown-item" href="#">Zone 2</a>
                                            </div>
                                        </div>*@

                                        <!-- <a href="#" class="btn btn-link btn-sm text-primary">Clear Selection</a> -->


                                        <div class="ml-auto mr-2">
                                            <input type="text" class="form-control form-control-sm" placeholder="search" />
                                        </div>

                                        <button class="btn btn-default btn-sm border mr-2"><i class="fa fa-file text-primary"></i> Create Label</button>
                                        <button class="btn btn-default btn-sm border mr-2"><i class="fa fa-trash-alt text-danger"></i> Delete</button>
                                    </div>
                                </div>

                                <div id="divOrderDetails">
                                    
                                </div>
                            </div>
                        </div>


                    </div>


                </div>


                </div><!-- container -->

        </div>
        <!-- end page content -->
    </div>
    <!-- end page-wrapper -->

</body>

<script>

    $(document).ready(function () {
        debugger
        var DeliverDate = '@Model.DeliverDate';
        if (DeliverDate != null && DeliverDate != "" && DeliverDate != undefined) {
            $("#txtDeliverDate").val(DeliverDate)
            onFilterClick();
        }

    });


    function onFilterClick() {
        var data = {
            DeliverDate: $("#txtDeliverDate").val(),
            StoreId: '@Model.StoreId',
        }

        $.ajax({
            type: "POST",
            url: "/Order/OrderDetails",
            //contentType: "application/json; charset=utf-8",
            //dataType: "json",
            data: data,
            success: function (response) {
                $("#divOrderDetails").html(response);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

</script>